        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: white;
            padding: 50px 20px;
            overflow-x: hidden;
        }

        @keyframes driveTruck {
            0% {
                transform: translateX(-300px);
            }
            100% {
                transform: translateX(calc(100vw - 250px));
            }
        }

        .truck {
            width: 200px;
            height: 100px;
            position: relative;
            animation: driveTruck 4s ease-in-out forwards;
        }

        .back {
            position: absolute;
            width: 110px;
            height: 50px;
            background: #d32f2f;
            left: 0;
            top: 35px;
            border: 2px solid #333;
            border-radius: 3px 3px 0 0;
        }

        .cabin {
            position: absolute;
            width: 80px;
            height: 85px;
            background: #1976d2;
            left: 105px;
            border: 2px solid #333;
            border-radius: 8px 8px 0 0;
        }

        .window {
            position: absolute;
            width: 50px;
            height: 30px;
            background: #81d4fa;
            left: 133px;
            top: 10px;
            border: 1px solid #0288d1;
            border-radius: 3px;
        }

        .wheel-front {
            position: absolute;
            width: 28px;
            height: 28px;
            border: 2px solid #333;
            background: #212121;
            border-radius: 50%;
            left: 135px;
            top: 80px;
            box-shadow: inset 0 0 0 8px #424242;
        }

        .wheel-front::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .wheel-back {
            position: absolute;
            width: 28px;
            height: 28px;
            border: 2px solid #333;
            background: #212121;
            border-radius: 50%;
            left: 35px;
            top: 80px;
            box-shadow: inset 0 0 0 8px #424242;
        }

        .wheel-back::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }